.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    margin: 0;
}

.action {
    font-size: 11px;
    height: 27px;
    padding: 0 10px;
    color: var(--color-accent);
}